.login-page-container {
  background: linear-gradient(var(--background));
  display: flex;

  .formWrapper {
    padding: 2.0rem 6.0rem;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;

    ion-avatar {
      width: 3rem;
      height: 3rem;
    }

    .logo {
      color: var(--primary);
      font-weight: bold;
      font-size: 2.4rem;
    }
    .title {
      color: var(--quadnary);
      font-size: 1.2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      ion-label {
        color: var(--gray);
      }
      ion-button {
        --background: var(--primary);
      }
    }
    ion-text {
      font-size: 1.2rem;
      color: var(--quadnary);
    }
  }
}
