.input {
  border: 1rem solid var(--tertiary);
  display: flex;
  ion-item {
    flex: 5;
  }
  .cta {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
  }
}
