/** Ionic CSS Variables **/
:root {
  /** primary **/
  --primary: #14c3a2;
  --secondary: #7cf49a;
  --tertiary: #b8fd99;
  --quadnary:#0e8971;
  --gray:rgb(175,175,175);
  --background: #14c3a2, #7cf49a, #b8fd99;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

ion-icon,img{
  cursor: pointer;
}